.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-height: 400px;
    min-width: 100px;
    background-color: #fff;
    z-index: 1;
  transition: 0.3s;
}
.product:hover{
    /* max-height: 800px; */
/* background-color: rgba(0, 0, 0, 0.5); */
    transform: translateY(-50px);
}
.product > button{
    background-color: rgba(164, 127, 100, 0.32);
    border: 1px solid black;
    margin-top: 10px;
    border-radius: 6px;
    border-color: #a88734 #9c7e31 #846a29;
    color:#111 ;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}
.product > img {
    max-width: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 25px;
}
.product__price{
   margin-top: 5px;
}
.product__info > p{
    font-size: 15px;
    font-weight: 400;

}
.rating__icon{
    margin-top: 2px;
    background-color:  #fff;
    color: yellow;
}
.product__rating{
    display: flex;
}
